<div class="row" id="footer-component">
    <ul class="nav justify-content-center">
        <li>
            <a class="nav-item" href="https://github.com/ecelayes" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/color/48/000000/github--v1.png"/>
            </a>
        </li>
        <li>
            <a class="nav-item" href="http://www.linkedin.com/in/emanuel-celayes" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/color/48/000000/linkedin-circled--v1.png"/>
            </a>
        </li>
        <li>
            <a class="nav-item" href="https://twitter.com/MoshkMoksha" target="_blank" rel="noopener noreferrer">
                <img src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png"/>
            </a>
        </li>
    </ul>
    <p>© ALL RIGHTS RESERVED | 2023</p>
</div>