<div class="row" id="navbar-component">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <div class="nav justify-content-center">
                <img src="../../../assets/images/AP_Logo_Full.png" width="100%" alt="AP Logo">
            </div>
            <div class="navbar-brand">
                #Yo Programo
            </div>
            <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#education-component">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience-component">Experiencia Laboral</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skill-component">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#project-component">Proyectos</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                        <button type="button" class="btn btn-outline-light" (click)="logout()" *ngIf="isLogged">Salir</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>