<section class="background-radial-gradient overflow-hidden" id="section">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1
            class="my-5 display-5 fw-bold ls-tight"
            style="color: hsl(218, 81%, 95%)"
          >
            Agregar <br />
            <span style="color: hsl(218, 81%, 75%)"
              >Nueva experiencia laboral</span
            >
          </h1>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div
            id="radius-shape-1"
            class="position-absolute rounded-circle shadow-5-strong"
          ></div>
          <div
            id="radius-shape-2"
            class="position-absolute shadow-5-strong"
          ></div>
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form #f="ngForm" (ngSubmit)="onNewExperience()" novalidate>
                <div class="form-outline mb-4">
                  <input 
                    type = "file"
                    id = "dirIcon"
                    name = "dirIcon"
                    class="form-control"
                    [(ngModel)] = "dirIcon"
                    required
                    (change)="uploadImage($event)"
                      accept=".jpg, .jpeg, .png, .svg"
                  />
                  <label class="form-label" for="dirIcon">Imagen Empresa</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type = "string"
                    id = "company"
                    name = "company"
                    class="form-control"
                    [(ngModel)] = "company"
                    required
                  />
                  <label class="form-label" for="company">Nombre Empresa</label>
                </div>
                <div class="form-outline mb-4">
                  <input 
                    type = "string"
                    id = "position"
                    name = "position"
                    class="form-control"
                    [(ngModel)] = "position"
                    required
                  />
                  <label class="form-label" for="position">Nombre del cargo</label>
                </div>
                <div class="form-outline mb-4">
                    <input 
                      type = "string"
                      id = "startDate"
                      name = "startDate"
                      class="form-control"
                      [(ngModel)] = "startDate"
                      required
                    />
                    <label class="form-label" for="startDate">Fecha inicio</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input 
                      type = "string"
                      id = "endDate"
                      name = "endDate"
                      class="form-control"
                      [(ngModel)] = "endDate"
                      required
                    />
                    <label class="form-label" for="endDate">Fecha fin</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input 
                      type = "string"
                      id = "description"
                      name = "description"
                      class="form-control"
                      [(ngModel)] = "description"
                      required
                    />
                    <label class="form-label" for="description">Breve descripcion de las tareas realizadas</label>
                  </div>
                <div class="container">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block mb-4"
                    id="loginButton"
                    >Agregar</button>
                  <button (click)="back()"
                    class="btn btn-primary btn-block mb-4"
                    id="volverButton"
                    >Volver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>